<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECOGO">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReportIssuesActivity"
            android:exported="false" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".CameraActivity"
            android:exported="false" />

        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".InsightsActivity"
            android:exported="false" />

        <activity
            android:name=".AnalysisActivity"
            android:exported="false" />

        <activity
            android:name=".AddDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".AnalysisResultActivity"
            android:exported="false" />

        <activity
            android:name=".ConfirmLocationActivity"
            android:exported="false" />

        <activity
            android:name=".MapExpandedActivity"
            android:exported="false" />

        <activity
            android:name=".ReviewReportActivity"
            android:exported="false" />

        <activity
            android:name=".ReportSubmittedActivity"
            android:exported="false" />

        <activity
            android:name=".MyReportsActivity"
            android:exported="false" />

        <activity
            android:name=".CommunityActivity"
            android:exported="false" />

        <activity
            android:name=".EmergencyReportActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".DataPrivacyActivity"
            android:exported="false" />

        <activity
            android:name=".EducationHubActivity"
            android:exported="false" />

    </application>

</manifest>